<div class="container-fluid">
    <mat-card>
        <mat-card-title>
            <div class="row">
                <div class="col text-center">
                    <h4>
                        {{product.descripcion}}
                    </h4>
                </div>
            </div>
        </mat-card-title>
        <mat-card-content>
            <div class="row">
                <div class="col text-center" style="width: 300%;">
                    <img [src]="product['miniatura']" (click)="closeImage()">
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</div>